@use '@site0/tijs/sass/_all.scss' as *;
@use '@site0/tijs/sass/app.scss';

:root {
  color-scheme: light dark;
  color: var(--ti-color-body-f);
  background-color: var(--ti-color-body);

  //font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  @include font-nice;
  font-size: 16px;
  line-height: 1.5em;
  font-weight: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
}

body {
  font-size: SZ(16);
}

#app > .ti-main-frame {
  .demo-sky {
    font-size: 20px;
    padding: 0 1em;
  }
}
